option_settings:
  # As noted in the AWS docs, the following option cannot be set through the .ebextensions configuration files,
  # and thus has to be defines through EB CLI arguments on environment creation.
  #
  # aws:elasticbeanstalk:environment:
  #   LoadBalancerType: network

  aws:elb:listener:80:
    ListenerProtocol: HTTP
    InstancePort: '8070'
    InstanceProtocol: HTTP

  aws:elb:healthcheck:
    Target: HTTP:8070/

  aws:elb:listener:
    ListenerEnabled: false

  aws:elb:loadbalancer:
    SecurityGroups: sg-21ac675b
